.hero {
    padding-top: 64px;
    padding-bottom: 400px;
    background-image: url(../images/templateElouise.png);
    background-size: cover;


    @media (max-width:1024px){
        background-image: url(../images/templateElouise-tablet.png);
        background-size: cover;
        background-repeat: no-repeat;
    }

    @media (max-width:767px){
        padding-bottom:206px;
        background-size: contain;
        background-image: url(../images/templateElouise-m.png);
    }
}