@use 'landing-page';
@use 'hero';
@use 'timer';
@use './components/var' as *;

@font-face {
    font-family: Felixtowe;
    src: url(../fonts/felixtowe-Regular.ttf);
    font-weight: 400;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Felixtowe, sans-serif;
    font-weight: bold;
    color: $corTexto;
}

.container{
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}